.channel-detail {
  min-height: 95vh;

  &__header {
    background: linear-gradient(90deg, rgba(0,238,247,1) 0%, rgba(206,3,184,1) 100%, rgba(0,212,255,1) 100%);
    z-index: 10;
    height: 300px;
  }

  &__videos {
    margin: 0 16px;

    @media (min-width: $screen-sm) {
      margin: 0 100px; 
    }
  }
}
