.feed {
  flex-direction: column !important;

  @media (min-width: $screen-lg) {
    flex-direction: row !important;
  }

  &__sidebar-box {
    height: auto;
    border-right: 1px solid $color-brown;

    @media (min-width: $screen-lg) {
      height: 92vh;
      padding: 0 16px;
    }
  }

  &__copyright {
    margin-top: 12px !important;
    color: $color-white;

    @media screen and (max-width: $screen-lg){
      display: none !important;
    }
  }

  &__videos-box {
    height: 90vh;
    padding: 16px;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0%;
    overflow-y: auto;
  }

  &__videos-typography {
    margin-bottom: 16px !important;
    font-weight: bold !important;
    color: $color-white;

    & span {
      color: $color-red-dark;
    }
  }
}