.navbar {
  position: sticky;
  top: 0;
  padding: 16px;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  background: $color-black;

  &__link {
    display: flex;
    align-items: center;

    & img {
      height: 45px;
    }
  }
}