.search-bar {
  padding-left: 16px;
  border: 1px solid $color-gray;
  border-radius: 20px !important;
  box-shadow: none !important;

  @media (min-width: $screen-sm) {
    margin-right: 40px;
  }

  &__input {
    border: none;
    outline: none;
    width: 350px;

    @media screen and (max-width: $screen-sm) {
      width: 200px;
    }
  }

  &__icon {
    padding: 10px !important;
    color: $color-red !important;
  }
}