.sidebar {
  height: auto;
  flex-direction: row !important;
  overflow-y: auto;
  
  @media (min-width: $screen-lg) {
    height: 95%;
    flex-direction: column !important;
  }

  &__btn {
    padding: 7px 15px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: transparent;
    border: none;
    border-radius: 20px;
    font-weight: bold !important;
    text-transform: capitalize;
    color: $color-white;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;

    @media screen and (max-width: $screen-lg) {
      margin: 10px;
    }

    &:hover {
      background-color: $color-red-dark !important;
      color: $color-white !important;

      & span {
        color: $color-white !important;
      }
    }

    &--selected {
      background: $color-red-dark;
    }
  }

  &__icon {
    margin-right: 15px;
    color: $color-red;

    &--selected {
      background: $color-white;
    }
  }

  &__name {
    opacity: 0.8;

    &--selected {
      opacity: 1;
    }
  }
}