.video-detail {
  min-height: 95vh;

  &__container {
    flex-direction: column !important;

    @media (min-width: $screen-lg) {
      flex-direction: row !important;
    }
  }

  &__player {
    flex: 1;

    &_wrapper {
      position: sticky;
      top: 86px;
      width: 100%;
      color: $color-white;
    }

    &_react-player {
      height: 77vh !important;
      width: 100% !important;

      @media (max-width: $screen-sm) {
        height: 45vh !important;
      }
    }

    &_title {
      padding: 16px;
      font-weight: bold !important;
      font-size: 1.5rem !important;
      line-height: 1.334 !important;
      letter-spacing: 0em !important;
    }

    &_description {
      padding: 8px 16px;
      flex-direction: row !important;
      justify-content: space-between;

      &_title {
        line-height: 1.75 !important;
        color: $color-white;
      }

      &_icon {
        margin-left: 5px;
        font-size: 12px !important;
        color: $color-gray-dark;
      }

      &_container {
        flex-direction: row !important;
        align-items: center;
        column-gap: 20px;

        & p {
          opacity: 0.7;
        }
      }
    }
  }

  &__videos {
    padding: 40px 16px;

    @media (min-width: $screen-lg) {
      padding: 8px 16px;
    }
  }
}
